@model int
<div class="text-center">
    <h1 class="text-info pt-4">Zahvaljuhemo Vam se na kupovini!</h1>
    <p class="pb-3">Vaša porudžbina je primljena. Uskoro ćete biti obavešteni o potvrdi.</p>
    <h4 class="text-warning pb-3">ID Porddžbine - @Model</h4>
    <img src="/images/order.jpg" width="80%" />
</div>